@media screen and (min-width:40em) {
    body { font-size: 100%; }
}
@media screen and (min-width:50em) {
    body { font-size: 108% }
} 

pre,code {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    background: #f7f7f9;
    border-radius: 5px;
    border: 1px solid #e1e1e8;
    font-family: Arial, sans-serif, "Microsoft Yahei";
}
pre {
    overflow: auto;
    padding: .5em;
    margin: 1.5em 0
}
code, pre {
    font-size: .9em
}
@media screen and (min-width:50em) {
    code, pre {
        font-size: .8em
    }
}

p {
  font-size: 16px;
  text-indent:30px;
}
 
/* border-box: 内边距和边框不再会增加它的宽度 */
*,::after,::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,h2,h3,h4,h5,h6,p,ul,ol,pre,fieldset,form,legend {
    margin-top: 0;
    margin-bottom: 16px;
}

.btn {
    padding: .5em 1em;
    margin: 0 0 1em 0;
    display: inline-block;
    border-radius: .25em;
    text-align: center;
    color: #6f6f6f;
    border: 1px solid rgba(41,47,54,0.2);
    background-color: #eee;
    text-decoration: none;
}
.btn:hover,.btn:focus,.btn:visited {
    background-color: #f1ebeb;
    text-decoration: none
}
.btn-plain,.btn-plain:hover {
    background: 0;
    border: 0;
}

.btnToTop { display: none; position: fixed; left: 0; bottom: 0; font-size: .9em; }
@media screen and (min-width:50em) {
    .btnToTop { display: block }
}
@media screen and (min-width:65em) {
    .btnToTop { left: .5em }
}

.iconToTop:before {
    font-size: .9em;
    display: inline-block;
    height: 1em;
    width: 1em;
    line-height: 1;
    content: "\25B2"
}

.slide {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear
}
.slide-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.hideTop {
    -webkit-transform: translateY(-4em);
    -ms-transform: translateY(-4em);
    transform: translateY(-4em)
}
.hideBottom {
    -webkit-transform: translateY(4em);
    -ms-transform: translateY(4em);
    transform: translateY(4em)
}

/* fork me on github */
.github {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 40px;
  z-index: 9999;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.github a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

/* ul li 样式 */
.live > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.live > li {
  font-size: 17px;
  letter-spacing: 6px;
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 5px 10px;
  -webkit-transition: .12s;
          transition: .12s;
}
.live > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  color: #FFF;
  font-size: 1.5em;
  opacity: .5;
  line-height: .75;
  -webkit-transition: .5s;
          transition: .5s;
}
.live > li > a:hover {
  color: #FFF;
}
.live > li:hover::before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 1;
  text-shadow: 0 0 4px;
  -webkit-transition: .1s;
          transition: .1s;
}

.live {
  width: 70%;
  text-align: left;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  background-image: -webkit-radial-gradient(circle, #3c3b52 0%, #252233 80%);
  background-image: radial-gradient(circle, #3c3b52 0%, #252233 80%);
}

/* 手风琴 */
.accordian {
  width: 950px; height: 640px;
  overflow: hidden; 
  margin: 10px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
.accordian ul { width: 2000px; }
.accordian li {
  position: relative;
  display: block;
  float: left;
  width: 190px;
  border-left: 1px solid #888;
  
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.accordian ul:hover li { width: 40px; }
.accordian ul li:hover { width: 640px; }
.accordian li img { display: block; }

.accordian h2 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute; left: 0; bottom: 0; 
  width: 600px; 
  padding: 12px;
  font-size: 16px; color: #fff; text-decoration: none;
}


body {
  font-size: 20px;
  font-family: "Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei, "华文细黑","微软雅黑", SimSun, "宋体", sans-serif
}
h2 {
  font-size: 20px;
}
 
.container { max-width: 48em; padding: 0 .5em }

.header { background-color: #292f36 }
.header+a { color: #fff; text-decoration: none; border: 0 }
.header+a:focus { outline: 0; background-color: rgba(78,205,196,0.1) }
.header-fixed { position: fixed; z-index: 10; right: 0; left: 0; top: 0 }

.nav { margin-bottom: 0; float: right }
.nav>li { display: inline-block }
.nav>li>a { display: inline-block; padding: 1em; border: 0 }

/* 淡化字体，并在小屏幕时隐藏 */
.subdued { color: rgba(255,255,255,0.6); text-shadow: none; display: none; }
a.subdued:hover { color: #fff }
@media screen and (min-width:40em) {
    .subdued { display: inline; margin-left: .5em }
} 

.brand { display: inline-block; text-decoration: none; padding: 1em 0; color: #fff; }
.brand .forename { font-weight: bold; font-size: 22px;color: #4ecdc4 }
.brand .surname  { font-weight: normal; color: #fff }


.main { margin-top: 1.5em }

.articleHeader { background-color: #4ecdc4; padding: 4em 0 3px 0 }
.article-title { text-align: center }

@media screen and (min-width:40em) {
    .article-title { font-size: 90% }
}
@media screen and (min-width:50em) {
    .article-title { font-size: 100% }
}

.article-title>h1 { line-height: 1; font-size: 1.5em; color: #fff; display: block }
.article-title>p  { line-height: 1.25; font-size: 1.125em; color: #292f36; margin: 0 }


/* 下载按钮样式 */
.grid {  margin-left: -20px; }
.grid:before,.grid:after { content: " "; display: table }
.grid:after { clear: both }
.grid-item { float: left; padding-left: 20px }

.one-whole { width: 100% }
.one-half  { width: 50% }

.btn-secondary { color: #fff; background-color: #ff6b6b; display: block }
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:visited { background-color: #ff6b6b; }